@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

:root{
    /* Colors */
    --primary-: #A9D9D0;
    --secondary-: #038C7F;
    --black- : #0D0D0D;
    --white- : #F2E7DC;

    /* Fonts */
    --font-family: 'Public Sans', sans-serif;
}

body{
    font-family: var(--font-family);
    background-color: var(--white-);
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto; 
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
}

.cards{
    display: flex;
    flex-direction: column;

    border-radius: 5px 0px;
    flex: 0 0 calc((100% - 30px)/ 3);
    margin-bottom: 20px;
    box-shadow: -2px 0px 3px 3px #c7c7c7;
    gap: 20px;
}

.img-cards{
    overflow: hidden;
    border-radius: 5px 0px;
}

.img-cards img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: .3s;
}

.img-cards img:hover{
    transform: scale(1.04);
}

.info-query{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    gap: 20px;
    padding: 5px;
}

h2{
    font-size: 50px;
    color: var(--secondary-);
    margin: 20px 10px;
}

.code-editor {
    width: 100%;
    height: 50px; 

    overflow: hidden;
}

nav{
    width: 100%;
    height: 10rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
}

.menu{
    width: 80%;
}

.menu ul{
    display: flex;
    background-color: var(--black-);

    font-size: 30px;
    padding: 20px;
    border-radius: 5px;
    justify-content: space-evenly;

    > li a{
        color: var(--white-);
    }
}

.menu ul li a:hover{
    color: var(--primary-);

    border-radius: 5px;
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
}

.about-work{
    font-size: 40px;
    width: 80%;
    font-weight: 600;
    color: var(--black-);
    margin: 20px 10px;
}



.contact-content{
    display: flex;

    align-items: center;
    justify-content: space-around;

    padding: 20px 0px;
    font-size: 32px;
}

.contact-links {
    display: flex;

    gap: 45px;

    > a{
        color: var(--black-);
    }
}

.contact-links a:hover{
    color: var(--primary-);

    border-radius: 5px;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

#backToTopBtn {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: var(--primary-);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#backToTopBtn:hover {
    background-color: var(--secondary-);
}